.wrapper{
    .writeups{
        margin: 6em 6em;
        p{
            font-size: 2em;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            line-height: 2em;
            a{
                text-decoration: none;
            }
        }
    }
    .job-section{
        margin-top: 2em;
        .search{
            display: flex;
            gap: .4em;
            justify-content: center;
            margin: 0 10em;
            input{
                padding: 15px;
                border: 1.2px solid #b0adad;
                outline: none;
                border-radius: 4px;
                font-size: 1.1em;
                width: 100%;
            }
            i{
          
                font-size: 1.6em;
                background-color: #e1e1e1;
                border: 1.2px solid #e1e1e1;
                padding: 10px;
                border-radius: 8px;
                cursor: pointer;
                

            }
            i:hover{
                background-color: darkblue;
                color: #fff;

            }
            input::placeholder{
                font-size: 1.1em;
            }
        }

        .spinner{  
          margin-top: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
              .loader{
                width: 70px;
                height: 70px;
                border: 5px solid darkblue;
                border-left: 5px solid #fff;    
                border-radius: 50%;
                animation: rotate 1s linear infinite;
                
              }
              @keyframes rotate {
                100%   {transform: rotate(360deg)}
              }
        }
        .empty-messege{
            p{
                margin: 5em 2em;
                font-size: 1.6em;
                text-align: center;
                color: darkblue;
                letter-spacing: 2px;
            }
            .error{
                
                font-size: 1.2em;
                color: rgb(227, 22, 22);
            }
        }
        .job-collection{
            margin: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            gap: 1em;
           
            .jobs{
                padding: 10px;
                border-radius: 8px;
                border-bottom: 2px solid darkslateblue;
                box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
                transition: all .3s ease-in;
                cursor: pointer;
                h3{
                    padding-bottom: 4px;
                    
                }
                p{
                    small{
                        font-weight: bold;
                        margin-right: 2px;
                    }
                }
                .skills{
                    margin: .4em 0;
                    small{
                        margin-right: 5px;
                        font-weight: bold;

                    }
                    span{
                        // border: 1px solid #1b1b1b;
                        font-size: .8em;
                        border-radius: 3px;
                        text-align: center;
                        padding: 2px 10px;
                        margin-right: .6em;
                        background-color: #eee;
                    }
                    
                }
                button{
                    padding: 8px 27px;
                    margin-top: 1em;
                    border-radius: 5px;
                    border: 1.2px solid #1b1b1b;
                    font-size: 1em;
                    font-weight: 580;
                    color: darkblue;
                    cursor: pointer;
                    background-color:#ffff;
                    letter-spacing: 1px;
                }
                button:hover{
                    border: 1.4px solid #fff;
                    color: #fff;
                    background-color: rgb(2, 2, 94);
                }
            }
            .jobs:hover{
                box-shadow: 0 0 10px 0 rgba(0 0 0/25%);
                transform: translateY(-6px);
            }
        }
    }
}



@media(max-width:720px){
    .wrapper{
        .writeups{
            margin: 2em;
        }
        .job-section{
            .search{
                margin: 1em;
            }
        }
    }
}