<div class="wrapper">
    <div class="writeups">
        <p> This is one of the best platform, where you can <a routerLink="#">Find a Job </a> | <a routerLink="#"> Post a Job</a></p>
    </div>

    <div class="job-section">
        <div class="search">
            <input type="text" placeholder="Top Job Openings | Seach Here" [(ngModel)]="searchText" (input)="search()">
            <i class="bi bi-search" (click)="search()"></i>
        </div>
        <!--  -->
        <div class="spinner" *ngIf="isContentLoaded">
            <span class="loader"></span>
        </div>
        <!--  -->
        <div class="empty-messege">
            <p *ngIf="jobsCollection.length<1 && !isContentLoaded">No posts available please write a post</p>
            <p class="error" *ngIf="errorMessege">Internal Server Error occurred. Please try after some time</p>
        </div>
        <div class="job-collection" >
            <div  *ngFor="let obj of jobsCollection | paginate:{
                itemsPerPage:noPosts,
                currentPage:page,
                totalItems:count
            }">
                <!-- <div class="jobs" *ngIf="obj.role.toLowerCase().includes(searchText.toLowerCase())"> -->
                <div class="jobs" *ngIf="obj.role.toLowerCase().includes(searchText.toLowerCase())">
                    <h3>{{obj.role }}</h3>
                    <div class="icons">
                        <span><i class="bi bi-trash" title="Delete" (click)="deletePost(obj)"></i></span>
                        <span><i class="bi bi-pencil-fill" title="Edit" (click)="editPost(obj)"></i></span>
                    </div>
                    <p><small>Company : </small><span>{{obj.companyName.toUpperCase()}}</span></p>
                    <div class="skills" >
                        <small>Skills :</small>
                        <span *ngFor="let skill of obj.skills"> {{skill}}</span>
                    </div>
                    <p><small>Experience : </small><span>{{obj.experience}} yrs</span></p>
                    <p><small>Salary : </small><span>{{obj.salary}} LPA</span></p>
                    
                    <button (click)="applyToJob(obj)">Apply</button>
                    
                </div>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onPostDataChange($event)"
            
            >

            </pagination-controls>
        </div>
    </div>
</div>


<div [ngClass]=" hasDeleteClicked ? 'delete-popup active' :'delete-popup'">
    <div class="popup">
        <p>Are you sure want to delete ? </p>
        <div class="buttons">
            <button class="yesDelete" (click)="deleteConsent()">delete</button>
            <button class="noDelete" (click)="cancelDelete()">cancel</button>
        </div>
    </div>
</div>