<div class="wrapper">
    <div class="writeups">
        <p> This is one of the best platform, where you can <a routerLink="#">Find Job </a> | <a routerLink="#"> Post Job</a></p>
    </div>

    <div class="job-section">
        <div class="search">
            <input type="text" placeholder="Top Job Openings | Seach Here" [(ngModel)]="searchText">
            <i class="bi bi-search"></i>
        </div>
        <div class="job-collection" >
            <div  *ngFor="let obj of jobPostList">
                <div class="jobs" *ngIf="obj.role.toLowerCase().includes(searchText.toLowerCase())">
                    <h3>{{obj.role }}</h3>
                    <p><small>Firm : </small><span>{{obj.firm.toUpperCase()}}</span></p>
                    <div class="skills" >
                        <small>Skills :</small>
                        <span *ngFor="let skill of obj.skills"> {{skill}}</span>
                    </div>
                    <p><small>Experience : </small><span>{{obj.experience}}</span></p>
                    
                    <button (click)="applyToJob(obj)">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>