<footer>
    <div class="wrapper">
        <div class="author">
            <p>Developer</p>
            <a href="mailto:angular@dev.com">e-mail : angular@dev.com</a>
        </div>
        <div class="social">
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Telegram</li>
            </ul>
        </div>
        <div class="project">
            <ul>
                <li>Mail Clone app</li>
                <li>Weather app</li>
            </ul>
        </div>
    </div>
</footer>